@media (min-width: 1440px) {
     body {
        width: 1440px;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-direction: column;
        background-color: hsl(47, 88%, 63%);
    }
    
    main {
        font-family: 'Figtree';
        box-shadow: 5px 5px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        margin: 17px;
        border: 1px solid;
        height: 52%;
        width: 25%;
        display: flex;
        flex-direction: column;
    }
}
    
@media (max-width: 1399px) and (min-width: 401px) {
    body {
        width: 900px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-direction: column;
        background-color: hsl(47, 88%, 63%);
    }

    main {
        font-family: 'Figtree';
        box-shadow: 5px 5px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        margin: 17px;
        border: 1px solid;
        height: 80%;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 400px) {
    body {
        width: 400px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-direction: column;
        background-color: hsl(47, 88%, 63%);
    }

    main {
        font-family: 'Figtree';
        box-shadow: 5px 5px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        margin: 17px;
        border: 1px solid;
        height: 63%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}


    

    .img {
        display: flex;
        justify-content: center;
        margin: 12px;
    }

    .img img {
        width: 95%;
        border-radius: 10px;
    }

    .aprendizado {
        cursor: default;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: hsl(47, 88%, 63%);
        height: 4%;
        width: 26%;
        margin-left: 22px;
        border-radius: 6px;
        transition: color 0.6s ease-in-out;
        transition: height 0.6s ease-in-out;
    }

    h4 {
        font-size: 12px;
        transition: font-size 0.3s ease-in-out ;
    }

    h4:hover {
        font-size: 15px;
        transition: font-size 0.3s ease;
    }

.info p, .info h2, .info h5 {
    margin: 0;
}
h2 {
    cursor: pointer;
    transition: color 0.4s ease;
    color: hsl(0, 0%, 7%);
}
    .info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding: 15px;
        gap: 10px;
    }

   .person {
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 21px;
    gap: 10px;
   }

   .person img {
    width: 26%;
   }

   h2:hover,p:hover,h5:hover {
    color: hsl(47, 88%, 63%);
   }

   p {
    color: hsl(0, 0%, 50%);
    font-size: 16px;
    transition: color 0.4s ease;
    cursor: pointer;
   }

   h5 {
    transition: color 0.4s ease;
    cursor: pointer;
    font-size: 13px;
    color: hsl(0, 0%, 7%);
   }

   .aprendizado:hover {
    background-color: #000;
    color: #f9f9f9;
    height: 7%;
    transition: height 0.4s ease-in;
   }


.attribution {
     font-size: 11px; text-align: center; 
    }

.attribution a {
     color: hsl(228, 45%, 44%); 
    }